<style>
  * {
    box-sizing: border-box;
  }
</style>

<body>
  <div style="width: 600px; height: 315px; overflow: hidden; display: flex">
    <div
      style="
        flex: 1;
        font-family: Inter;
        padding: 0 2.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(
          140deg,
          rgba(172, 255, 221, 1) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 224, 248, 1) 100%
        );
      "
    >
      <h1 id="title" style="font-size: 1.8rem; margin: 0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolore
      </h1>
      <div style="display: flex; flex-direction: column">
        <p id="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est nihil
          dolore soluta ab natus recusandae. Reiciendis nobis ipsum doloremque
          nihil! Molestiae sequi exercitationem harum omnis accusantium numquam
          dolore esse.
        </p>
        <div
          style="
            margin: 0;
            margin-bottom: -1rem;
            display: flex;
            align-items: center;
            gap: 0.2rem;
          "
        >
          <img
            width="24"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACcUlEQVRIS7VVMXLTQBTdXQ04HbkB8gmwywyDbDVgVYnHTo1zAuAEEScgnACnxh6LSobGthiGMsoJUG7gdCSM9Plf1q53ZG/kFN7CM9Zq/3v/vfdXnO158T3XZ48CmMxmh+m9OGbAT5DYIZHDAkkG/PLUezXfRnZngNH36IQDfMGSeeHyAsbmVi3tdl13qe/tBDAOowFSxeK4gC3wd5gxntBfwaEBDHzO+DPcXIpaVtdBKgG+hj/bWGRWsPrQ6zgXZfYkXXZnkUQvqJN+x3HlO5UA42kUrw7C536n9d4Uikn42075fUydoCeu9ORBgMmPX40sS69QlhtxkDbK+pbBRtPFBQK8A2CXfc8ZFCEwB3UcLnzG+Tm2/Q3bpuSw3A9cPc8ZbgDkQWAT8gn32zsDMICPPa/lkwwZ//enMPusDKL8MgFQFLHYuVXLXJLD2EGRKF3rvLtpRB590jtWHqySIJBdnvM8LcoDBgnGryk9kFpjLJNep1WXUslAoESqOwWgZf0aizfUoTBKcAae6ynKyfy1YnouhNXsvn4Zr9nDLSpgSzIKYDSNAvxzLNlLgNUEo3G0NGbqfelPMQvAmd9/4wQbc4AdzJFRq6yrSk6hu4An9a53lEh/ZABMWdQlMgJsi6ep4zLQWqIwGnLO3lZNLBUoAnGFgbClB5UdrO8cvLDgaZNkMB1SKdLyXglQyJDLhF3EchbKB2Va6Pk2v4wSydbTO5HIqxcHxheC02WHxcDGD80ANW2XE2ViT883Lrsi4wF1su0gdneL99NAj+KjAOTL5AlnQIztfAQ4W+I8BHirBlW3qg5Y+T14iN0ue3sH+A9QymMoUaCTvQAAAABJRU5ErkJggg=="
            alt=""
          />
          <p
            id="url"
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            https://fiimage.vercel.app/og
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
